<!DOCTYPE html>

<head>
   <title>WhatsApp Analytics</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/analytics.css') }}">
   <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/favicon.png')}}" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='charts.js') }}"></script>
</head>

<body>
   <header id="header">
      <!--<button class="logo" onclick="location.href='index.html'">
         <img src="{{url_for('static', filename='assets/WhatsApp Analytics Logo.png')}}" height=43px width=233px>
      </button>-->
      <a class="logo" href="{{ url_for('index') }}">
         <img src="{{url_for('static', filename='assets/WhatsApp Analytics Logo.png')}}" height=43px width=233px>
      </a>

   </header>
   {% block body %}
   {% endblock %}
</body>